project = "mi-proyecto-ci4"
service = "web"

[build]
builder = "nixpacks"

[build.args]
PHP_VERSION = "8.1"
NODE_VERSION = "18"
COMPOSER_VERSION = "2"

[build.commands]
install = [
  "composer install --ignore-platform-reqs"
]
build = [
  "php spark cache:clear",
  "php spark optimize",
  "chmod -R 775 writable",
  "mkdir -p writable/cache writable/logs writable/session",
  "chmod -R 755 public"
]

[start]
# Arranca PHP-FPM + Nginx
command = "php-fpm -R -y /assets/php-fpm.conf & nginx -g 'daemon off;'"
