[build]
builder = "nixpacks"
buildCommand = "composer install --no-dev --optimize-autoloader --no-interaction --no-progress && php spark optimize"

[build.environment]
COMPOSER_ALLOW_SUPERUSER = "1"
COMPOSER_NO_INTERACTION = "1"
COMPOSER_MEMORY_LIMIT = "-1"
