# railway.toml

[build]
builder = "nixpacks"
buildCommand = "php -v && composer install --no-dev --optimize-autoloader --no-interaction --no-progress && php spark cache:clear && php spark optimize && php spark session:migration --create && chmod -R 775 writable/"

[build.environment]
COMPOSER_MEMORY_LIMIT = "-1"
COMPOSER_NO_INTERACTION = "1"
COMPOSER_ALLOW_SUPERUSER = "1"

[deploy]
startCommand = "apache2-foreground"

[[services]]
type = "web"
name = "codeigniter-app"
httpPort = 443
healthcheckPath = "/login"
healthcheckTimeout = 30
